.blog-area {
    padding: 200px 0 60px;
    background: #f1f1f1;
}
.blog-thumb {
    margin-bottom: 45px;
}

.blog-content {
    margin-left: 50px;
}
.blog-content p.title {
    color: #ff5d56;
    opacity: 1;
}
.blog-content p{
    opacity: 0.8;
}
.blog-content h3 {
    margin: 12px 40px 10px 0;
    font-size: 24px;
}

/* ------ media query ------ */
@media screen and (max-width:575px) {
    .blog-area {
        padding: 140px 0 25px;
    }
    .blog-content {
        margin: 15px 0;
    }
    .blog-content h3 {
        margin-right: 0;
    }
    .blog-thumb {
        margin-bottom: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:767px) {
    .blog-area {
        padding: 140px 0 25px;
    }
    .blog-content {
        margin: 15px 0;
    }
    .blog-content h3 {
        margin-right: 0;
    }
    .blog-thumb {
        margin-bottom: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .blog-area {
        padding: 140px 0 25px;
    }
    .blog-content {
        margin: 15px 0;
    }
    .blog-content h3 {
        margin-right: 0;
    }
    .blog-thumb {
        margin-bottom: 20px;
    }
    .blog-thumb .regular-btn {
        padding: 12px 34px;
    }
}